.DS_Store
.AppleDouble
.project
tfmir/tfmir2.tar.gz
tfmir/uploads/*/
backend/Data/databases_mouse.RDATA
backend/Data/databases_human.RDATA
backend/Data/databases2_TFmiR_string.RDATA
backend/Data/databases2_TFmiR_string_mouse.RDATA
backend/Data/databases2_TFmiR_mentha.RDATA
backend/Data/databases2_TFmiR_mentha_mouse.RDATA
backend/databases/mirna-mirna/pmmr.txt
backend/databases/tf-mirna/chipbase.txt
backend/databases/mirna-gene/starBase.txt
backend/databases/mirna-gene/miRTargetsDB.xls
backend/databases/disgenet/gene_disease_original.txt
backend/databases/tf-gene/oreganno.txt
backend/databases/gene-gene/human_mentha.tsv
backend/databases/gene-gene/human_string.tsv
backend/databases/tissue_human/human_tissue_genes_converted.txt
backend/databases/tissue_human/human_tissue_genes.txt
backend/databases/tissue_human/gene_tissue.txt
backend/databases2_TFmiR_human.RDATA
backend/databases_mouse/mirna-mirna/pmmr.txt
backend/databases_mouse/tf-mirna/chipbase.txt
backend/databases_mouse/mirna-gene/starBase.txt
backend/databases_mouse/mirna-gene/miRTargetsDB.xls
backend/databases_mouse/tissue_mouse/mouse_tissue_genes.txt
backend/databases_mouse/tissue_mouse/gene_tissue.txt
backend/databases_mouse/tf-gene/oreganno.txt
backend/databases_mouse/gene-gene/mouse_string.tsv
backend/databases2_TFmiR_mouse.RDATA
